@import "bootstrap";

$grayLight: #eaeaea;

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.container-fluid {
  width: 80%;
  margin: 0 auto;
  //background-color: #66ffff;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

ul {
  list-style: none;
  }

table {
  width: 50%;
}